@import "./reset.styl"
@import "./base.styl"
@import "./icon.styl"

::-webkit-scrollbar
  width: 1px
  height: 3px
::-webkit-scrollbar-track
  background-color: #ffffff
::-webkit-scrollbar-thumb  
  background-color: #b9b9b9